<div class="complete-page">

  <div class="complete-card">

    <h1>
      Complete Your Profile
    </h1>

    <p>
      Please complete your details
      to continue.
    </p>

    <!-- NAME -->

    <input
      type="text"
      placeholder="Full Name"
      [(ngModel)]="name"
    />
    <h3>Profile Photo</h3>

<input
  type="file"
  accept="image/*"
  (change)="onProfilePhotoSelected($event)"
/>

<img
  *ngIf="profilePreview"
  [src]="profilePreview"
  width="120"
/>

    <!-- PHONE -->

    <input
      type="tel"
      placeholder="Phone Number"
      [(ngModel)]="phone"
    />

    <!-- MECHANIC ONLY -->

    <ng-container *ngIf="isMechanic">

      <input
        type="text"
        placeholder="Shop Name"
        [(ngModel)]="shopName"
      />

      <div *ngIf="isMechanic">

  <h3>Shop Photo</h3>

  <input
    type="file"
    accept="image/*"
    (change)="onShopPhotoSelected($event)"
  />

  <img
    *ngIf="shopPreview"
    [src]="shopPreview"
    width="120"
  />

</div>

    </ng-container>

    <button
      (click)="savePhone()"
      [disabled]="loading"
    >

      {{
        loading
          ? 'Saving...'
          : 'Continue'
      }}

    </button>

  </div>

</div>